<% provide :title, t("home") %>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h1><%= t ".system" %></h1>

  <%= link_to t(".signup"), nil,
    class: "btn btn-lg btn-primary" %>
</div>
