<h1><%= @course.name %></h1>

<ul class="subjects">
  <% @subjects.each do |subject| %>
    <li>
      <h3><%= link_to subject.name, subject %></h3><br>
      <%= subject.description %>
    </li>
  <% end %>
</ul>
