<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3><span>FramgiaVietNam</span></h3>
        <p>
          <a href="#">Home |</a>
          <a href="#">About |</a>
          <a href="#">Contact</a>
        </p>
        <p class="footer-description">
          Copyright 2016 Framgia, Inc. All rights reserved.
        </p>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center">CONTACT US</h4>
        <p><span class="glyphicon glyphicon-map-marker"></span>
          13F Keangnam Landmark 72 Tower, Plot E6, Pham Hung Road, Nam Tu Liem, Ha Noi, Viet Nam
        </p>
        <p><span class="glyphicon glyphicon-phone"></span>
          84-4-3795-5417
        </p>
        <p><span class="glyphicon glyphicon-envelope"></span>
          hr_team@framgia.com
        </p>
      </div>
      <div class="col-sm-4">
        <div>
          <h4>About Framgia Viet Nam</h4>
          <p class="footer-description">Framgia Vietnam is a company 100% Japan funded specializing in design, development applications such as mobile phone software, games, social and website applications.</p>
        </div>
        <div class="footer-icons">
          <a href="https://www.facebook.com/FramgiaVietnam" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://github.com/framgia/" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
