<li>
  <div class="col-xs-7">
    <%= link_to user.name, user %>
  </div>
  <div class="col-xs-3 listButton">
    <%= link_to t(".edit_trainee"), edit_supervisors_user_path(user),
      class: "btn btn-success" %>
  </div>
</li>
